.main-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #F6D8BB;
}
.formulario {
    max-width: 400px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.formulario div {
    margin-bottom: 20px;
}
.formulario label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}
.formulario input[type="email"],
.formulario input[type="text"],
.formulario input[type="number"],
.formulario input[type="checkbox"],
.formulario textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 40px;
}
.formulario button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
}
.formulario select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.formulario option {
    font-size: 16px;
}


