.contenedorfinal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F6D8BB;
}
.Nombre {
    margin-bottom: 10px; 
    color: rgb(112, 83, 83);
    text-align: right;
    margin-top: 0;
    font-family: "EB Garamond";
    padding-top: 100px;
    text-decoration: underline;
    padding-right: 60px;
    border: 1px solid white;
}
.imagenmain {
    width: auto;
    height: 500px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    object-fit: cover;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

.h2medio2 {
    font-family:"EB Garamond"; 
    font-size: 18px;
    color: #333; 
    background-color: #f9f9f9; 
    padding: 10px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    line-height: 2.5; 
    text-align: center;
    font-weight: 50px;
    margin: 30px;
    margin-bottom: 10px;
}
.footerfinal {
    background-color: #F6D8BB;
    text-align: center;
}
.footer1 {
    color:dimgrey
}
.linkfooter {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: $color-secundario; 
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; 
}

.linkfooter:hover { 
  background-color: #fff;
  color: #E38AB7;
  transform: translateY(-5px); 
}

@media (max-width: 480) {
    .imagenmain {
        width:300px; 
      }
      .h2medio2 {
        font-size: 15px;
      }
      .linkfooter {
        font-size: 15px;
      }
}
@media (max-width: 600px) {
    .contenedorfinal {
      display: flex;
      flex-direction: column; 
      align-items: center;  
    }
  
    .imagenmain {
      width: 100%; 
    }
  
    .h2medio2 {
      margin-top: 20px; 
      text-align: center;
    }
    .linkfooter {
        font-size: 15px;
      }
  }
@media (max-width: 992px) {
    .contenedorfinal {
        display: flex;
        flex-direction: column; 
        align-items: center;  
      }
    
      .imagenmain {
        width: auto; 
      }
    
      .h2medio2 {
        margin-top: 20px; 
        text-align: center;
      }
      .linkfooter {
        font-size: 15px;
      }
}