.mainhistoria {
    background-color: #F6D8BB;
}
.imagenesHISTORIA {
    justify-content: center;
    display: flex;
}
.img8 {
    width: auto;
    height: auto;
    object-fit: cover;
    margin: 20px; 
    border-radius: 10px; 
    opacity: 0.7;
}
@media (max-width: 480px) {
    .img8 {
        width: 300px;
        height: auto;
        object-fit: cover;
    }
}
@media (max-width: 600px) {
    .img8 {
        width: 400px;
        height: auto;
        object-fit: cover;
    }
}
@media (max-width: 992px) {
    .img8 {
        width: 600px;
        height: auto;
        object-fit: cover;
    }
}