@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Truculenta:opsz,wght@12..72,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Truculenta:opsz,wght@12..72,100..900&display=swap");
.contenedor-principal {
  position: relative;
  height: 800px;
}

.contenedor {
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  position: sticky;
  z-index: 1;
}

.navegador { /**MODIFICADO**/
  background-color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.navegador-imagen {
  width: 120px;
  height: auto;
}

.listainicio {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.listainicio-li {
  margin-right: 20px;
}

.listainicio-li a { /**MODIFICADO**/
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

.listainicio-li a:hover {
  color: #fff;
  text-decoration: underline;
  transform: translateY(-3px);
}

.header {
  display: flex;
}

.header1 { /**MODIFICADO**/
  width: 100%;
  height: 800px;
  flex-wrap: wrap;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: -1;
  opacity: 0.7;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.texto-sobreimagen { /**MODIFICADO**/
  color: black;
  font-size: 60px;
  font-family: "Dancing Script";
  text-decoration: none;
  text-align: center;
  font-weight: normal;
  font-style: italic;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.texto-sobreimagen2 { /**MODIFICADO**/
  color: black;
  font-size: 30px;
  font-family: "EB Garamond";
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textoinicial {
  background-color: #F6D8BB;
}

.div-inicio {
  color: black;
  font-family: "EB Garamond";
  font-size: 23px;
  border: 15px;
  margin: 0 30px 30px 30px;
  padding-top: 20px;
}

.titulocomentarios {
  font-size: 40px;
  margin-bottom: 10px;
  color: black;
  text-align: center;
  margin-top: 0;
  font-family: "Dancing Script";
  padding-top: 30px;
  padding-bottom: 30px;
}

.comentarios {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 10px;
}

.comentarios p {
  font-family: "EB Garamond";
  margin: 20px 10px;
  padding: 20px;
  color: rosybrown;
  border: 2px solid white;
  border-radius: 10px;
  background-color: white;
  flex-basis: 45%;
}

.galeriaindex {
  background-color: #F6D8BB;
}

.galeria {
  width: 80%; /** AL PADRE SE LO DECLARAMOS**/
  margin: auto;
  gap: 10px; /**separa cada imagen dentro de la grilla**/
  display: grid;
  grid-template-columns: repeat(4, 1fr); /**FR es que cada columna va a medir una fraccion del padre**/
  grid-template-rows: repeat(4, 200px);
  padding: 50px;
  padding-left: 150px;
  margin: 0;
  opacity: 0.5;
}

.galeria img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.img1 {
  grid-column: 1/3;
  grid-row: 1/3;
}

.img2 {
  grid-column: 3/5;
  grid-row: 1/3;
}

.img3 {
  grid-column: 1/3;
  grid-row: 3/5;
}

.img4 {
  grid-column: 3/5;
  grid-row: 3/5;
}

.sectionmain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: #F6D8BB;
}

.linkhistoria {
  display: inline-block;
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.linkhistoria:hover {
  background-color: #fff;
  color: #E38AB7;
}

.contenedorfinal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F6D8BB;
}

.Nombre {
  margin-bottom: 10px;
  color: rgb(112, 83, 83);
  text-align: right;
  margin-top: 0;
  font-family: "EB Garamond";
  padding-top: 100px;
  text-decoration: underline;
  padding-right: 60px;
  border: 1px solid white;
}

.imagenmain {
  width: auto;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding-left: 15px;
}

.h2medio2 {
  font-family: "EB Garamond";
  font-size: 18px;
  color: #333;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  line-height: 2.5;
  text-align: center;
  font-weight: 50px;
  margin: 30px;
  margin-bottom: 10px;
}

.footerfinal {
  background-color: #F6D8BB;
  text-align: center;
}

.footer1 {
  color: dimgrey;
}

.linkfooter {
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sectionservico {
  background-color: rgb(214, 198, 193);
  padding: 20px; /* Añade espacio interno para evitar superposiciones */
}

.imagen7 {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover; /* Ajusta el tamaño de la imagen para adaptarse al contenedor */
  opacity: 0.5; /* Asegúrate de que uses el punto decimal para la opacidad */
  z-index: 1; /* Ajusta el orden de superposición */
}

.titulosecundario {
  color: black;
  font-size: 50px;
  font-family: "Dancing Script";
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  padding-top: 50px;
  padding-bottom: 20px; /* Añade espacio para evitar superposiciones */
}

.beneficios {
  font-family: "EB Garamond", serif;
  font-size: 24px;
  text-align: left;
  margin: 20px 0;
}

.parrafoservicio {
  font-family: "EB Garamond";
  font-size: 18px;
  color: #333;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  line-height: 2.5;
  text-align: center;
  font-weight: 50px;
  margin: 30px;
  margin-bottom: 10px;
}

.experienciak {
  background-color: rgb(214, 198, 193);
  padding: 20px; /* Añade espacio interno para evitar superposiciones */
}

.experiencia {
  font-size: 40px;
  margin-bottom: 10px;
  color: black;
  text-align: center;
  margin-top: 0;
  font-family: "Dancing Script";
  padding-top: 30px;
  padding-bottom: 30px;
}

.mainhistoria {
  background-color: rgb(214, 198, 193);
}

.imagenesHISTORIA {
  display: flex;
  justify-content: center;
}

.img8 {
  width: auto;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 20px; /* Márgenes para separar la imagen */
  border-radius: 10px; /* Borde redondeado */
  opacity: 0.7;
}

.main-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(214, 198, 193);
}

.formulario {
  max-width: 400px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario div {
  margin-bottom: 20px;
}

.formulario label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.formulario input[type=email],
.formulario input[type=text],
.formulario input[type=number],
.formulario input[type=checkbox],
.formulario textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 40px;
}

.formulario button[type=submit] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 20px;
}

.formulario select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.formulario option {
  font-size: 16px;
}

.maintexto {
  font-size: 24px;
  margin-bottom: 10px;
  color: black;
  text-align: center;
  margin-top: 0;
  font-family: "Dancing Script";
  padding-top: 30px;
  text-decoration: underline;
}

* {
  margin: 0;
}/*# sourceMappingURL=style.css.map */